.container {
  gap: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  padding: 1% 10%;
  @media (max-width: 1024px) {
    padding: 1% 2%;
  }
  @media (max-width: 835px) {
    height: auto;
    gap: 0;
  }
  background: white;
  z-index: 1;
  height: 60px;
  align-items: center;

  .searchBlock {
    position: absolute;
    top: 72px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 400px;
    background: white;
    padding: 12px 0;
    box-shadow: 0 6px 41px 1px rgba(34, 60, 80, 0.23);
  }

  .title {
    gap: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    @media (max-width: 835px) {
      flex: none;
    }
  }

  .search {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex: 1;

    input {
      flex: 1;
      outline: none;
      padding-right: 20px;
      padding-left: 18px;
      border: 1px solid #8168f0;
      border-radius: 30px;
      height: 36px;
      width: 13em;
      @media (max-width: 835px) {
        width: auto;
      }
    }
  }

  .buttons {
    gap: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;

    button {
      background: #8168f0;
      border: none;
      cursor: pointer;
      border-radius: 36%;
      display: flex;
      height: 40px;
      width: 40px;
      align-items: center;
      justify-content: center;
    }
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  input {
    outline: none;
    border: 1px solid #8168f0;
    border-radius: 10px;
    height: 30px;
    padding: 0 8px;
  }
}

.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  input {
    outline: none;
    border: 1px solid #8168f0;
    border-radius: 10px;
    height: 30px;
    padding: 0 8px;
  }
}

.modalButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    padding: 0 16px;
    height: 32px;
    border-radius: 8px;
    background: #8168f0;
    border: none;
    cursor: pointer;
    color: white;
  }

  :hover {
    background: #6345dc;
  }
}

.error {
  color: red;
  font-size: 14px;
}
