.container {
  gap: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  padding: 1% 10%;
  @media (max-width: 1024px) {
    padding: 1% 2%;
  }
  background: white;
  z-index: 1;

  .title {
    gap: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
  }

  .search {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex: 1;

    input {
      flex: 1;
      outline: none;
      padding-right: 20px;
      padding-left: 40px;
      border: 1px solid #8168F0;
      border-radius: 30px;
      height: 36px;
      width: 13em;
    }
  }

  .buttons {
    gap: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;

    button {
      background: #8168F0;
      border: none;
      cursor: pointer;
      border-radius: 36%;
      display: flex;
      height: 40px;
      width: 40px;
      align-items: center;
      justify-content: center;
    }
  }
}